<!-- служебная мета-информация для каждой страницы -->

<meta content="text/html; charset=utf-8" http-equiv="content-type">	

<link href="public/css/main.css" 	type="text/css" 	rel="stylesheet" media="screen" />
<link href="public/img/favicon.ico"	type="image/x-icon" rel="shortcut icon">

<script src="public/js/download_pdf.js"></script>
<script src="public/js/main.js"></script>

<script type="text/javascript" src="public/js/jquery.js"></script>

<!-- универсальные инструменты (тестирование, логирование) -->
<script src="public/js/Test.class.js"></script>
<script src="public/js/Log.class.js"></script>