<?php if (isset($_GET['lang']) && $_GET['lang'] == 'en') : ?>


		<!-- АНГЛОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->
		<script>var lang='en';</script>
		<script src="public/js/pdf_module/earth_grey.js"></script>

		<td width="100%" style="padding:30px ">
			<table class="correct" id="oblojka_left">
				<tr>
					<td>
						<img src="images/oblojka/earth_ecience_2015.jpg" alt="" align="left" class="wrappler" id="oblojka" />
					</td>

					<td>
						<h2 class="pad0 center">News of the Tula state university. <br>Sciences of Earth. ISSN 2218-5194 </h2>
						<br />
						<p>
							Subscription index: 41408 (Integrated Catalogue "Press of Russia").</br>
							The certificate of registration of mass media: PI number TU71-00341 on November 25, 2013.<br />
							Year of foundation of the edition:  2010 y.</br>
							Frequency: 4 releases a year.
						</p>
						
						<p>	
							<i>	Branches of sciences:</i><BR>
							Technical sciences (05.00.00)<BR>
							Earth Science (25.00.00)<BR>
						</p>

						<p>	
							<i>	Groups of scientific specialties:</i><BR>
							Transportation, mining and construction machine building (05.05.00)<BR>
							Security (05.26.00)<BR>
							Earth Science (25.00.00)<BR>
						</p>
						
						<p>	
							<i>Editor-in-chief:</i></br> 
							Kachurin Nikolaj Mihajlovich, doctor of technical sciences, professor, head of department, TSU,</br> 
							ph. (4872) 33-22-70; (4872) 35-20-41; e-mail: <a href="mailto:ecology@tsu.tula.ru">ecology@tsu.tula.ru</a></br> 
						</p>

						<p>
							<i>Senior editor:</i></br> 
							Sarychev Vladimir Ivanovich, doctor of technical sciences, professor, TSU,</br> 
							ph. (4872) 35-20-41; e-mail: <a href="mailto:sarychevy@mail.ru">sarychevy@mail.ru</a>
						</p>

						<p>
							<i>Responsible secretary:</i></br>
							Stas' Galina Viktorovna, candidate of technical sciences, docent, TSU,</br>
							ph. (4872) 35-20-41; e-mail: <a href="mailto:Galina_Stas@mail.ru">Galina_Stas@mail.ru</a>
						</p>

						<p>
							<i>Associate editors:</i></br> 
							Borshhevskij S.V., doctor of technical sciences, professor, deputy head of department, Donetsk National Technical University (Ukraine); 
							Bulychev N.S., doctor of technical sciences, professor, TSU; 
							Grujich M., doctor of technical sciences, professor, director of the Center for Environmental Mining and Geological Faculty, University of Belgrade (Republic of Serbia); 
							Zhabin A.B., doctor of technical sciences, professor, TSU; 
							Zaharov E.I., doctor of technical sciences, professor, TSU; 
							Ivezich D., doctor of technical sciences, professor, director of the Scientific Center of Energy Mining and Geological Faculty, University of Belgrade (Republic of Serbia); 
							Pushkarev A.E., doctor of technical sciences, professor, TSU; 
							Savishheva O.S., candidate of technical sciences, docent, McGill University (Montreal, Canada); 
							Safronov V.P., doctor of technical sciences, professor, TSU; 
							Sokolov Je.M., doctor of technical sciences, professor, head of department, TSU
						</p>

						<p><b>
							Rules for writing the manuscript: <a href="#bottom" onClick="download_pdf('pravila_oformlenija_2015')">(download)</a><br>
							Example of the basic elements of the article: <a href="#bottom" onClick="download_pdf('primer_oformlenija_2015')">(download)</a>
						</b></p>
						
						<div id="jurnal"></div>
						<script> jurnal();  </script>				
					</td>
				</tr>

				<tr>
					<td></td>
					<td>
						<div id="drop31" class="hide"></div>
						<div id="bottom"></div>
					</td>
				</tr>
			</table>	
		</td>


<?php endif; ?>


<?php if ($_GET['lang'] == 'ru') : ?>
		
		<!-- РУССКОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->
		
		<script>var lang='ru';</script>
		<script src="public/js/earth_grey.js"></script>

		<td width="100%" style="padding:30px ">
			<table class="correct" id="oblojka_left">
				<tr>
					<td>
						<img src="public/img/oblojka/earth_ecience_2015.jpg" alt="" align="left" class="wrappler" id="oblojka" />
					</td>

					<td>
						<h2 class="pad0 center">Известия Тульского государственного университета. <br>Науки о Земле. ISSN 2218-5194 </h2>
						<br />
						<p>
							Подписной индекс: 41408 (Объединенный Каталог «Пресса России»).</br>
							Свидетельство о регистрации средства массовой информации: ПИ № ТУ71-00341 от 25 ноября 2013 г.<br />
							Год основания издания:  2010 г.</br>
							Периодичность: 4 выпуска в год.
						</p>
						
						<p>	
							<i>	Отрасли наук: 	</i><BR>
							Технические науки (05.00.00)<BR>
							Науки о Земле (25.00.00)<BR>
						</p>

						<p>	
							<i>	Группы научных специальностей: 	</i><BR>
							Транспортное, горное и строительное машиностроение (05.05.00)<BR>
							Безопасность (05.26.00)<BR>
							Науки о Земле (25.00.00)<BR>
						</p>
						
						<p>	
							<i>Ответственный редактор:</i></br> 
							Качурин Николай Михайлович, д-р техн. наук, проф., зав. кафедрой, ТулГУ,</br> 
							тел. (4872) 33-22-70; (4872) 35-20-41; e-mail: <a href="mailto:ecology@tsu.tula.ru">ecology@tsu.tula.ru</a></br> 
						</p>

						<p>
							<i>Заместитель ответственного редактора:</i></br> 
							Сарычев Владимир Иванович, д-р техн. наук, проф., ТулГУ,</br> 
							тел. (4872) 35-20-41; e-mail: <a href="mailto:sarychevy@mail.ru">sarychevy@mail.ru</a>
						</p>

						<p>
							<i>Ответственный секретарь:</i></br>
							Стась Галина Викторовна, канд. техн. наук, доц., ТулГУ, </br>
							тел. (4872) 35-20-41; e-mail: <a href="mailto:Galina_Stas@mail.ru">Galina_Stas@mail.ru</a>
						</p>

						<p>
							<i>Члены редколлегии:</i></br> 
							Борщевский С.В., д-р техн. наук, проф., зам. зав. кафедрой, Донецкий национальный технический университет (Украина); 
							Булычев Н.С., д-р техн. наук, проф., ТулГУ; 
							Груйич М., д-р техн. наук, проф., директор Центра по охране окружающей среды горно-геологического факультета, Белградский университет (Республика Сербия); 
							Жабин А.Б., д-р техн. наук, проф., ТулГУ; 
							Захаров Е.И., д-р техн. наук, проф., ТулГУ; 
							Ивезич Д., д-р техн. наук, проф., директор Научного центра энергетики горно-геологического факультета, Белградский университет (Республика Сербия); 
							Пушкарев А.Е., д-р техн. наук, проф., ТулГУ; 
							Савищева О.С., канд. техн. наук, доц., Университет МакГилла (Монреаль, Канада); 
							Сафронов В.П., д-р техн. наук, проф., ТулГУ; 
							Соколов Э.М., д-р техн. наук, проф., зав. кафедрой, ТулГУ
						</p>

						<p><b>
							Правила оформления рукописей статей: <a href="#bottom" onClick="download_pdf('pravila_oformlenija_2015')">(скачать)</a><br>
							Пример оформления основных элементов статьи: <a href="#bottom" onClick="download_pdf('primer_oformlenija_2015')">(скачать)</a>					
						</b></p>
						
						<div id="jurnal"></div>
						<script> jurnal();  </script>				
					</td>
				</tr>

				<tr>
					<td></td>
					<td>
						<div id="drop31" class="hide"></div>
						<div id="bottom"></div>
					</td>
				</tr>
			</table>	
		</td>

<?php endif; ?>


