<?php if (isset($_GET['lang']) && $_GET['lang'] == 'en') : ?>

		<!-- АНГЛОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->

		<script>var lang='en';</script>
		<script src="public/js/pdf_module/economic_grey.js"></script>


		<td width="100%" style="padding:30px ">
			<table class="correct" id="oblojka_left">
				<tr>
					<td><img src="images/oblojka/economic_and_legal_science_2015.jpg" alt="" align="left" class="wrappler" id="oblojka" /></td>

					<td>
						<h2 class="pad0 center">News of the Tula state university. <br>Economic and legal sciences. ISSN 2071-6184 </h2>
						<br />
						<p>
							Subscription index: 27854 (Integrated Catalogue "Press of Russia").<br />
							The certificate of registration of mass media: PI number FS77-61107 on March 19, 2015.<br />
							Year of foundation of the edition:  2007 y.<br />
							Frequency: 4 issue (in 2 parts) per year.
						</p>
						
						<p>	
							<i>	Branches of sciences:</i><br />
							Socio-economic and the social sciences<br />
						</p>
						
						<p>	
							<i>	Groups of scientific specialties:</i><br />
							Economics sciences (08.00.00)<br />
							Jurisprudence sciences (12.00.00)<br />
						</p>
						
						<p>	
							<i>Editor-in-chief:</i><br /> 
							Golovin Aleksandr Jur'evich, doctor of legal sciences, professor, director of the Institute of Law and Management, TSU, <br /> 
							ph. 8(4872) 35-22-80; e-mail: <a href="mailto:golovintula@yandex.ru">golovintula@yandex.ru</a><br /> 
						</p>

						<p>
							<i>Executive secretaries:</i>
						</p>
						
						<p>
							<i>Part 1. Economics sciences:</i>
						</p>

						<p>
							<i>Responsible secretary:</i><br />
							Hlynin Jeduard Valentinovich, doctor of economics sciences, professor, TSU, <br />
							ph. 8(4872) 35-20-12; e-mail: <a href="mailto:khlynin-ed@yandex.ru">khlynin-ed@yandex.ru</a> 
						</p>

						<p>
							<i>Part. 2. legal sciences:</i>
						</p>

						<p>
							<i>Responsible secretary:</i><br />
							Djablova Julija L'vovna, candidate of legal sciences, docent, TSU,<br />
							ph. 8(920)755-88-61; e-mail: <a href="mailto:d.u.l@list.ru">d.u.l@list.ru</a> 
						</p>

						<p>
							<i>Associate editors:</i><br /> 
							Belocerkovskij V.I., doctor of economics sciences, professor, head of department, TSU; 
							Vasin L.A., doctor of technical sciences, professor, head of department, TSU; 
							Dubonosov E.S., doctor of legal sciences, professor, head of department, TSU; 
							Kovalev S.N., candidate of economics sciences, docent, deputy director of the Institute of Law and Management, TSU; 
							Tolstuhina T.V., doctor of legal sciences, professor, head of department, TSU; 
							Spiridonov A.A., candidate of legal sciences, The Commissioner for the Protection of the rights of entrepreneurs in the Tula region; 
							Fedorova E.A., doctor of economics sciences, professor, head of department, TSU; 
							Har'kov V.N., candidate of legal sciences, docent, TSU 
						</p>


						<p><b>
							Rules for writing the manuscript: <a href="#bottom" onClick="download_pdf('pravila_oformlenija_2015')">(download)</a><br>
							Example of the basic elements of the article: <a href="#bottom" onClick="download_pdf('primer_oformlenija_2015')">(download)</a>
						</b></p>
						
						<div id="jurnal"></div>
						<script> jurnal();  </script>				
					</td>
				</tr>

				<tr>
					<td></td>
					<td>
						<div id="drop31" class="hide"></div>
						<div id="bottom"></div>
					</td>
				</tr>
			</table>	
		</td>

<?php endif; ?>


<?php if ($_GET['lang'] == 'ru') : ?>
		<!-- РУССКОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->

		<script>var lang='ru';</script>
		<script src="public/js/economic_grey.js"></script>

		<td width="100%" style="padding:30px ">
			<table class="correct" id="oblojka_left">
				<tr>
					<td><img src="public/img/oblojka/economic_and_legal_science_2015.jpg" alt="" align="left" class="wrappler" id="oblojka" /></td>

					<td>
						<h2 class="pad0 center">Известия Тульского государственного университета. <br>Экономические и юридические науки. ISSN 2071-6184 </h2>
						<br />
						<p>
							Подписной индекс: 27854 (Объединенный Каталог «Пресса России»).<br />
							Свидетельство о регистрации средства массовой информации: ПИ № ФС77-61107 от 19 марта 2015.<br />
							Год основания издания:  2007 г.<br />
							Периодичность: 4 выпуска (в 2-х частях) в год.
						</p>
						
						<p>	
							<i>	Отрасли наук: 	</i><br />
							Социально-экономические и общественные науки<br />
						</p>
						
						<p>	
							<i>	Группы научных специальностей: 	</i><br />
							Экономические науки (08.00.00)<br />
							Юридические науки (12.00.00)<br />
						</p>
						
						<p>	
							<i>Ответственный редактор:</i><br /> 
							Головин Александр Юрьевич, д-р юрид. наук, проф., директор института права и управления, ТулГУ, <br /> 
							тел. 8(4872) 35-22-80; e-mail: <a href="mailto:golovintula@yandex.ru">golovintula@yandex.ru</a><br /> 
						</p>

						<p>
							<i>Ответственные секретари:</i>
						</p>
						
						<p>
							<i>Ч.1. Экономические науки:</i>
						</p>

						<p>
							<i>Ответственный секретарь:</i><br />
							Хлынин Эдуард Валентинович, д-р экон. наук, проф., ТулГУ,<br />
							тел. 8(4872) 35-20-12; e-mail: <a href="mailto:khlynin-ed@yandex.ru">khlynin-ed@yandex.ru</a> 
						</p>

						<p>
							<i>Ч.2. Юридические науки:</i>
						</p>

						<p>
							<i>Ответственный секретарь:</i><br />
							Дяблова Юлия Львовна, канд. юрид. наук, доц., ТулГУ,<br />
							тел. 8(920)755-88-61; e-mail: <a href="mailto:d.u.l@list.ru">d.u.l@list.ru</a> 
						</p>

						<p>
							<i>Члены редколлегии:</i><br /> 
							Белоцерковский В.И., д-р экон. наук, проф., зав. кафедрой, ТулГУ; 
							Васин Л.А., д-р техн. наук, проф., зав. кафедрой, ТулГУ; 
							Дубоносов Е.С., д-р юрид. наук, проф., зав. кафедрой, ТулГУ; 
							Ковалев С.Н., канд. экон. наук, доц., зам. директора института права и управления, ТулГУ; 
							Толстухина Т.В., д-р юрид. наук, проф., зав. кафедрой, ТулГУ; 
							Спиридонов А.А., канд. юрид. наук, Уполномоченный по защите прав предпринимателей в Тульской области; 
							Федорова Е.А., д-р экон. наук, проф., зав. кафедрой, ТулГУ; 
							Харьков В.Н., канд. юрид. наук, доц., ТулГУ
						</p>


						<p><b>
							Правила оформления рукописей статей: <a href="#bottom" onClick="download_pdf('pravila_oformlenija_2015')">(скачать)</a><br>
							Пример оформления основных элементов статьи: <a href="#bottom" onClick="download_pdf('primer_oformlenija_2015')">(скачать)</a>					
						</b></p>
						
						<div id="jurnal"></div>
						<script> jurnal();  </script>				
					</td>
				</tr>

				<tr>
					<td></td>
					<td>
						<div id="drop31" class="hide"></div>
						<div id="bottom"></div>
					</td>
				</tr>
			</table>	
		</td>

<?php endif; ?>
