<?php if (isset($_GET['lang']) && $_GET['lang'] == 'en') : ?>


		<!-- АНГЛОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->
		<script>var lang='en';</script>
		<script src="public/js/pdf_module/humanitarian_grey.js"></script>

		<td width="100%" style="padding:30px ">	
			<table class="correct" id="oblojka_left">
				<tr>
					<td>
						<img src="images/oblojka/humanities_2015.jpg" alt="" align="left" class="wrappler" id="oblojka" />
					</td>

					<td>				
						<h2 class="pad0 center">News of the Tula state university. <br>Humanitarian sciences. ISSN 2071-6141 </h2>
						<br />
						<p>
							Subscription index: 27844 (Integrated Catalogue "Press of Russia").<br />
							The certificate of registration of mass media: PI number FS77-61108 on March 19, 2015.<br />
							Year of foundation of the edition: 2007 y.<br />
							Frequency: 4 releases a year.
						</p>

						<p>
							<i>Branches of sciences:</i><br />
							Philosophical sciences (09.00.01)<br />
							Social sciences (22.00.00)<br />
							Political science (23.00.00)
						</p>
						
						<p>
							<i>Groups of scientific specialties:</i><br />					
							History of Philosophy (09.00.03)<br />	
							Social Philosophy (09.00.11)<br />	
							Social Structure, Social Institutions and Processes (22.00.04)<br />	
							Political institutions, processes and technologies (23.00.02)<br />
							Political regionalism. Ethnopolitics (23.00.05)
						</p>
						
						<p>
							<i>Editor-in-chief:</i></br> 
							Batanina Irina Aleksandrovna, doctor of polit. sciences, professor, director of institute of humanitarian and social sciences, TSU,</br> 
							ph. (4872) 35-49-21; 33-23-52; e-mail: <a href="mailto:forum@uic.tula.ru">forum@uic.tula.ru</a></br> 
						</p>

						<p>
							<i>Responsible secretary:</i></br>
							Tvirova Yulia Aleksandrovna, candidate polit. sciences, docent, TSU</br>
							ph. (4872) 33-24-18; e-mail: <a href="mailto:twirowa@mail.ru">twirowa@mail.ru</a>
						</p>

						<p>
							<i>Associate editors:</i></br> 					
							Brodovskaya E.V., doctor of polit. sciences, professor, department chair, Moscow state institute of M. A. Sholokhov; 
							Vasilyeva N. A., doctor of philos. sciences, professor, St. Petersburg State University; 
							Grachev M. N., doctor of polit. sciences, professor, Russian State Humanitarian University (Moscow);
							Ivanova V. I., doctor of ped. sciences, professor, department chair, TSU; 
							Ogneva V. V.,  doctor of philos. sciences, professor, Oryol branch of the Russian Academy of national economy and public service; 
							Sapogova E.E., doctor of phich. sciences, professor, department chair, TSU; 
							Chugunova S. A., doctor of philol. sciences, department chair, Bryansk state university; 
							Sharonova S. A., doctor of social. sciences, professor, Orthodox Sacred and Tychonoff humanities university (Moscow) 
						</p>
						
						<p><b>
							Rules for writing the manuscript: <a href="#bottom" onClick="download_pdf('pravila_oformlenija_2015')">(download)</a><br>
							Example of the basic elements of the article: <a href="#bottom" onClick="download_pdf('primer_oformlenija_2015')">(download)</a>
						</b></p>
						
						<div id="jurnal"></div>
						<script> jurnal(); </script>				
					</td>
				</tr>

				<tr>
					<td></td>
					<td>
						<div id="drop31" class="hide"></div>
						<div id="bottom"></div>
					</td>
				</tr>
			</table>
		</td>
<?php endif; ?>


<?php if ($_GET['lang'] == 'ru') : ?>

		<!-- РУССКОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->
		<script>var lang='ru';</script>
		<script src="public/js/humanitarian_grey.js"></script>
		
		<td width="100%" style="padding:30px ">	
			<table class="correct" id="oblojka_left">
				<tr>
					<td>
						<img src="public/img/oblojka/humanities_2015.jpg" alt="" align="left" class="wrappler" id="oblojka" />
					</td>

					<td>
						<h2 class="pad0 center">Известия Тульского государственного университета. <br>Гуманитарные науки. ISSN 2071-6141 </h2>
						<br />
						<p>
							Подписной индекс: 27844 (Объединенный Каталог «Пресса России»).<br />
							Свидетельство о регистрации средства массовой информации: ПИ № ФС77-61108 от 19 марта 2015.<br />
							Год основания издания:  2007 г.<br />
							Периодичность: 4 выпуска в год.
						</p>

						<p>	
							<i>Отрасли наук:</i><br />
							Философские науки (09.00.01)<br />
							Социологические науки (22.00.00)<br />
							Политология (23.00.00)	
						</p>
						
						<p>
							<i>Группы научных специальностей:	</i><br />
							История философии (09.00.03)<br />
							Социальная философия (09.00.11)<br />
							Социальная структура, социальные институты и процессы (22.00.04)<br />
							Политические институты, процессы и технологии (23.00.02)<br />
							Политическая регионалистика. Этнополитика (23.00.05)	
						</p>
						
						<p>
							<i>Ответственный редактор:</i></br> 
							Батанина Ирина Александровна, д-р полит. наук, проф., директор института гуманитарных и социальных наук, ТулГУ</br> 
							тел. (4872) 35-49-21; 33-23-52; e-mail: <a href="mailto:forum@uic.tula.ru">forum@uic.tula.ru</a></br> 
						</p>

						<p>
							<i>Ответственный секретарь:</i></br>
							Твирова Юлия Александровна, канд. полит. наук, доц., ТулГУ, </br>
							тел. (4872) 33-24-18; e-mail: <a href="mailto:twirowa@mail.ru">twirowa@mail.ru</a></br>
						</p>

						<p>
							<i>Члены редколлегии:</i></br> 
							Бродовская Е.В., д-р полит. наук, проф., зав. кафедрой, Московский государственный институт им. М.А. Шолохова; 
							Васильева Н.А., д-р филос. наук, проф., Санкт-Петербургский государственный университет; 
							Грачев М.Н., д-р полит. наук, проф., Российский государственный гуманитарный университет (Москва); 
							Иванова В.И., д-р пед. наук, проф., зав. кафедрой, ТулГУ; 
							Огнева В.В., д-р филос. наук, проф., Орловский филиал Российской Академии народного хозяйства и государственной службы; 
							Сапогова Е.Е., д-р психол. наук, проф., зав. кафедрой, ТулГУ; 
							Чугунова С.А., д-р филол. наук, зав. кафедрой, Брянский государственный университет; 
							Шаронова С.А., д-р социол. наук, доц., Православный Свято-Тихоновский гуманитарный университет (Москва) 
						</p>

						<p><b>
						Правила оформления рукописей статей: <a href="#bottom" onClick="download_pdf('pravila_oformlenija_2015')">(скачать)</a><br>
						Пример оформления основных элементов статьи: <a href="#bottom" onClick="download_pdf('primer_oformlenija_2015')">(скачать)</a>
						</b></p>
						
						<div id="jurnal"></div>
						<script> jurnal(); </script>				
					</td>
				</tr>

				<tr>
					<td></td>
					<td>
						<div id="drop31" class="hide"></div>
						<div id="bottom"></div>
					</td>
				</tr>
			</table>	
		</td>

<?php endif; ?>

