<?php if (isset($_GET['lang']) && $_GET['lang'] == 'en') : ?>


		<!-- АНГЛОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->

		<script>var lang='en';</script>
		<script src="public/js/pdf_module/natural_grey.js"></script>

		<td width="100%" style="padding:30px ">
			<table class="correct" id="oblojka_left">
				<tr>
					<td><img src="images/oblojka/natural_sciences_2015.jpg" alt="" align="left" class="wrappler" id="oblojka" /></td>

					<td>
						<h2 class="pad0 center">News of the Tula state university. <br>Natural sciences. ISSN 2071-6176 </h2>
						<br />
						<p>
							Subscription index: 27845 (Integrated Catalogue "Press of Russia").<br />
							The certificate of registration of mass media: PI number FS77-61106 on March 19, 2015.<br />
							Year of foundation of the edition: 2007 y.<br />
							Frequency: 4 releases a year.
						</p>

						<p>	
							<i>	Branches of sciences:</i><br />
							Physical and mathematical sciences (01.00.00)<br />
							Chemical sciences (02.00.00)<br />
							Biological sciences (03.00.00)
						</p>

						
						<p>	
							<i>	Groups of scientific specialties:</i><br />
							Mathematics (01.01.00)<br />
							Mechanics (01.02.00)<br />
							Physics (01.04.00)<br />
							Chemical sciences (02.00.00)<br />
							Physico-chemical Biology (03.01.00)	
						</p>
						
						<p>	
							<i>Editor-in-chief:</i><br /> 
							Ivanov Valerij Ivanovich, doctor of physical and mathematical sciences, prof., head of department, TSU, <br /> 
							ph. (4872) 35-43-71; 35-36-77; e-mail: <a href="mailto:ivaleryi@mail.ru">ivaleryi@mail.ru</a><br /> 
						</p>

						<p>
							<i>Senior editor:</i><br /> 
							Markin Aleksej Aleksandrovich, doctor of physical and mathematical sciences, professor, head of department, TSU,<br /> 
							ph. (4872) 25-47-22;  e-mail: <a href="mailto:markin@tsu.tula.ru">markin@tsu.tula.ru</a>
						</p>

						<p>
							<i>Responsible secretary:</i><br />
							Skobel'cyn Sergej Alekseevich, candidate of physical and mathematical sciences, docent, TSU, <br />
							ph. (4872) 35-21-28; e-mail: <a href="mailto:izvns_tsu@mail.ru">izvns_tsu@mail.ru</a>
						</p>

						<p>
							<i>Associate editors:</i><br /> 
							Alfjorov V.A., candidate of chemistry sciences, docent, director of science institute, TSU; 
							Burkin I.M., doctor of physical and mathematical sciences, professor, head of department, TSU;  
							Dobrovol'skij N.M., doctor of physical and mathematical sciences, professor, head of department, TSPU name L.N. Tolstogo (Tula); 
							Krotov V.G., doctor of physical and mathematical sciences, professor, head of department, Belarusian State University (Minsk); 
							Levin D.M., doctor of physical and mathematical sciences, professor, TSU; 
							Litvinenko V.V., doctor of technical sciences, senior researcher, deputy director, Institute of Electrophysics and Radiation Technologies of the National Academy of Sciences of Ukraine; 
							Matvejko N.P., doctor of chemical sciences, professor, head of the department, Belarusian State Economic University; 
							Mirsalimov V.M., doctor of physical and mathematical sciences, professor, head of the department, Azerbaijan Technical University; 
							Muzafarov E.N., doctor of biology sciences, docent, head of the department, TSU; 
							Tolokonnikov L.A., doctor of physical and mathematical sciences, professor, TSU; 
							Temirgaliev N.T., doctor of physical and mathematical sciences, professor, Eurasian National University. L.N. Gumilev (Kazakhstan);  
							Shabozov M.Sh., doctor of physical and mathematical sciences, professor, department head, Institute of Mathematics, Academy of Sciences of the Republic of Tajikistan 
						</p>

						<p><b>
							Rules for writing the manuscript: <a href="#bottom" onClick="download_pdf('pravila_oformlenija_2015_(natural_sciences)')"> (download)</a><br>
							Example of the basic elements of the article: <a href="#bottom" onClick="download_pdf('primer_oformlenija_2015_(natural_sciences)')"> (download)</a>
						</b></p>
						
						<div id="jurnal"></div>
						<script> jurnal();  </script>				
					</td>
				</tr>

				<tr>
					<td></td>
					<td>
						<div id="drop31" class="hide"></div>
						<div id="bottom"></div>
					</td>
				</tr>
			</table>
		</td>


<?php endif; ?>


<?php if ($_GET['lang'] == 'ru') : ?>
		
		<!-- РУССКОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->
		
		<script>var lang='ru';</script>
		<script src="public/js/natural_grey.js"></script>

		<td width="100%" style="padding:30px ">	
			<table class="correct" id="oblojka_left">
				<tr>
					<td><img src="public/img/oblojka/natural_sciences_2015.jpg" alt="" align="left" class="wrappler" id="oblojka" /></td>

					<td>
						<h2 class="pad0 center">Известия Тульского государственного университета. <br>Естественные науки. ISSN 2071-6176 </h2>
						<br />
						<p>
							Подписной индекс: 27845 (Объединенный Каталог «Пресса России»).<br />
							Свидетельство о регистрации средства массовой информации: ПИ № ФС77-61106 от 19 марта 2015.<br />
							Год основания издания:  2007 г.<br />
							Периодичность: 4 выпуска в год.
						</p>

						<p>	
							<i>	Отрасли наук: 	</i><br />
							Физико-математические науки (01.00.00)<br />
							Химические науки (02.00.00)<br />
							Биологические науки (03.00.00)
						</p>

						
						<p>	
							<i>	Группы научных специальностей: 	</i><br />
							Математика (01.01.00)<br />
							Механика (01.02.00)<br />
							Физика (01.04.00)<br />
							Химические науки (02.00.00)<br />
							Физико-химическая биология (03.01.00)	
						</p>
						
						<p>	
							<i>Ответственный редактор:</i><br /> 
							Иванов Валерий Иванович, д-р физ.-мат. наук, проф., зав. кафедрой, ТулГУ,  <br /> 
							тел. (4872) 35-43-71; 35-36-77; e-mail: <a href="mailto:ivaleryi@mail.ru">ivaleryi@mail.ru</a><br /> 
						</p>

						<p>
							<i>Заместитель ответственного редактора:</i><br /> 
							Маркин Алексей Александрович, д-р физ.-мат. наук, проф., зав. кафедрой, ТулГУ, <br /> 
							тел. (4872) 25-47-22;  e-mail: <a href="mailto:markin@tsu.tula.ru">markin@tsu.tula.ru</a>
						</p>

						<p>
							<i>Ответственный секретарь:</i><br />
							Скобельцын Сергей Алексеевич, канд. физ.-мат. наук, доц., ТулГУ<br />
							тел. (4872) 35-21-28; e-mail: <a href="mailto:izvns_tsu@mail.ru">izvns_tsu@mail.ru</a>
						</p>

						<p>
							<i>Члены редколлегии:</i><br /> 
							Алфёров В.А., канд. хим. наук, доц., директор естественно-научного института, ТулГУ; 
							Буркин И.М., д-р физ.-мат. наук, доц., зав. кафедрой, ТулГУ;  
							Добровольский Н.М., д-р физ.-мат. наук, проф., зав. кафедрой, ТГПУ им. Л.Н. Толстого (Тула); 
							Кротов В.Г., д-р физ.-мат. наук, проф., зав. кафедрой, Белорусский государственный университет (Минск); 
							Левин Д.М., д-р физ.-мат. наук, проф., ТулГУ; 
							Литвиненко В.В., д-р техн. наук, с.н.с., зам. директора, Институт электрофизики и радиационных технологий Национальной академии наук Украины; 
							Матвейко Н.П., д-р хим. наук, проф., зав. кафедрой, Белорусский государственный экономический университет; 
							Мирсалимов В.М., д-р физ.-мат. наук, проф., зав. кафедрой, Азербайджанский технический университет; 
							Музафаров Е.Н., д-р биол. наук, доц., зав. кафедрой, ТулГУ; 
							Толоконников Л.А.,  д-р физ.-мат. наук, проф., ТулГУ; 
							Темиргалиев Н.Т., д-р физ.-мат. наук, проф., Евразийский национальный университет им. Л.Н. Гумилева (Казахстан);  
							Шабозов М.Ш.,  д-р физ.-мат. наук, проф., зав. отделом, Институт математики академии наук Республики Таджикистан 
						</p>

						<p><b>
							Правила оформления рукописей статей: <a href="#bottom" onClick="download_pdf('pravila_oformlenija_2015_(natural_sciences)')"> (скачать)</a><br>
							Пример оформления основных элементов статьи: <a href="#bottom" onClick="download_pdf('primer_oformlenija_2015_(natural_sciences)')"> (скачать)</a>					
						</b></p>
						
						<div id="jurnal"></div>
						<script> jurnal();  </script>
					</td>
				</tr>

				<tr>
					<td></td>
					<td>
						<div id="drop31" class="hide"></div>
						<div id="bottom"></div>
					</td>
				</tr>
			</table>
		</td>

<?php endif; ?>



