<?php if (isset($_GET['lang']) && $_GET['lang'] == 'en') : ?>


		<!-- АНГЛОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->

		<script>var lang='en';</script>
		<script src="public/js/pdf_module/ped_grey.js"></script>

		<td width="100%" style="padding:30px ">
			<table class="correct" id="oblojka_left">
				<tr>
					<td><img src="images/oblojka/pedagogics_2015.jpg" alt="" align="left" class="wrappler" id="oblojka" /></td>

					<td>
						<h2 class="pad0 center">News of the Tula state university. <br>Pedagogics. ISSN 2312-2374 </h2>
						<br />
						<p>
							Subscription index: 43124 (Integrated Catalogue "Press of Russia").<br />
							The certificate of registration of mass media: PI number FS77-61103 on March 19, 2015.<br />
							Year of foundation of the edition: 2014 y.<br />
							Frequency: 4 releases a year.
						</p>

						<p>	
							<i>	Branches of sciences: </i><br />
							Socio-economic and the social sciences
						</p>
						
						<p>	
							<i>	Groups of scientific specialties:</i><br />
							Pedagogical sciences (13.00.00)<br />
							Theory and methodology<br />
							Theory and methods of professional education<br />
						</p>
						
						<p>
							<i>Editor-in-chief:</i><br /> 
							Petrovichev Vladimir Matveevich, doctor of pedagogical sciences, professor, head of department, TSU <br /> 
							ph. (4872) 25-79-33; e-mail: <a href="mailto:kafedra_timpo@mail.ru">kafedra_timpo@mail.ru</a><br /> 
						</p>

						<p>
							<i>Senior editor:</i><br /> 
							Ermakov Vjacheslav Alekseevich, doctor of pedagogical sciences, professor, TSU, <br /> 
							ph. (4872) 35-84-73; e-mail: <a href="mailto:tmfk_ermakov@mail.ru">tmfk_ermakov@mail.ru</a>
						</p>

						<p>
							<i>Responsible secretary:</i><br />
							Rannih Viktor Nikolaevich, candidate of pedagogical sciences, professor, TSU <br />
							ph. (4872) 25-79-33; e-mail: <a href="mailto:vik_nik_r@rambler.ru">vik_nik_r@rambler.ru</a>
						</p>

						<p>
							<i>Associate editors:</i><br /> 
							Ivanova V.I., doctor of pedagogical sciences, docent, head of department, TSU; 
							Sapogova E.E., doctor of psychology sciences, professor, head of department, TSU;  
							Rangelova E.M., doctor of pedagogical sciences, professor, Sofia University St. Kliment Ohridski (Bulgaria); 
							Romanov V.A., doctor of pedagogical sciences, professor, TSPU name L.N. Tolstogo (Tula) 
						</p>


						<p><b>
							Rules for writing the manuscript: <a href="#bottom" onClick="download_pdf('pravila_oformlenija_2015')">(download)</a><br>
							Example of the basic elements of the article: <a href="#bottom" onClick="download_pdf('primer_oformlenija_2015')">(download)</a>
						</b></p>
						
						<div id="jurnal"></div>
					<script> jurnal();</script>
					</td>
				</tr>

				<tr>
					<td></td>
					<td>
						<div id="drop31" class="hide"></div>
						<div id="bottom"></div>
					</td>
				</tr>
			</table>
		</td>
<?php endif; ?>


<?php if ($_GET['lang'] == 'ru') : ?>	
		
		<!-- РУССКОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->

		<script>var lang='ru';</script>
		<script src="public/js/ped_grey.js"></script>

		<td width="100%" style="padding:30px ">
			<table class="correct" id="oblojka_left">
				
				<tr>
					<td><img src="public/img/oblojka/pedagogics_2015.jpg" alt="" align="left" class="wrappler" id="oblojka" /></td>

					<td>
						<h2 class="pad0 center">Известия Тульского государственного университета. <br>Педагогика. ISSN 2312-2374</h2>
						<br />
						<p>
							Подписной индекс: 43124 (Объединенный Каталог «Пресса России»).<br />
							Свидетельство о регистрации средства массовой информации: ПИ № ФС77-61103 от 19 марта 2015.<br />
							Год основания издания:  2014 г.<br />
							Периодичность: 4 выпуска в год.
						</p>

						<p>	
							<i>	Отрасли наук: 	</i><br />
							Социально-экономические и общественные науки
						</p>
						
						<p>	
							<i>	Группы научных специальностей: 	</i><br />
							Педагогические науки (13.00.00)<br />
							Теория и методика обучения<br />
							Теория и методика профессионального образования<br />
						</p>
						
						<p>
							<i>Ответственный редактор:</i><br /> 
							Петровичев Владимир Матвеевич, д-р пед. наук, проф., зав. кафедрой, ТулГУ,  <br /> 
							тел. (4872) 25-79-33; e-mail: <a href="mailto:kafedra_timpo@mail.ru">kafedra_timpo@mail.ru</a><br /> 
						</p>

						<p>
							<i>Заместитель ответственного редактора:</i><br /> 
							Ермаков Вячеслав Алексеевич, д-р пед. наук, проф., ТулГУ <br /> 
							тел. (4872) 35-84-73; e-mail: <a href="mailto:tmfk_ermakov@mail.ru">tmfk_ermakov@mail.ru</a>
						</p>

						<p>
							<i>Ответственный секретарь:</i><br />
							Ранних Виктор Николаевич, канд. пед. наук, проф., ТулГУ <br />
							тел. (4872) 25-79-33; e-mail: <a href="mailto:vik_nik_r@rambler.ru">vik_nik_r@rambler.ru</a>
						</p>

						<p>
							<i>Члены редколлегии:</i><br /> 
							Иванова В.И., д-р пед. наук, доц., зав. кафедрой, ТулГУ; 
							Сапогова Е.Е., д-р психол. наук, проф., зав. кафедрой, ТулГУ; 
							Рангелова Е.М., д-р пед. наук, проф., Софийский университет Святого Климента Охрицкого (Болгария); 
							Романов В.А., д-р пед. наук, проф., ТГПУ им. Л.Н. Толстого (Тула) 
						</p>


						<p><b>
							Правила оформления рукописей статей: <a href="#bottom" onClick="download_pdf('pravila_oformlenija_2015')">(скачать)</a><br>
							Пример оформления основных элементов статьи: <a href="#bottom" onClick="download_pdf('primer_oformlenija_2015')">(скачать)</a>					
						</b></p>
						
						<div id="jurnal"></div>
						<script> jurnal();</script>
					</td>
				</tr>

				<tr>
					<td></td>
					<td>
						<div id="drop31" class="hide"></div>
						<div id="bottom"></div>
					</td>
				</tr>
			</table>
		</td>
<?php endif; ?>
