<?php if (isset($_GET['lang']) && $_GET['lang'] == 'en') : ?>


		<!-- АНГЛОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->

		<script>var lang='en';</script>
		<script src="public/js/pdf_module/sport_grey.js"></script>

		<td width="100%" style="padding:30px ">
			<table class="correct" id="oblojka_left">
				<tr>
					<td><img src="images/oblojka/physical_education_sport_2015.jpg" alt="" align="left" class="wrappler" id="oblojka" /></td>

					<td>
						<h2 class="pad0 center">News of the Tula state university. <br>Physical culture. Sport. ISSN 2305-8404 </h2>
						<br />
						<p>
							Subscription index: 11912 (Integrated Catalogue "Press of Russia").<br />
							The certificate of registration of mass media: PI number FS77-61105 on March 19, 2015.<br />
							Year of foundation of the edition: 2013 y.<br />
							Frequency: 4 releases a year.
						</p>
						
						<p>	
							<i>	Branches of sciences: </i><br />
							Socio-economic and the social sciences
						</p>
						
						<p>	
							<i>	Groups of scientific specialties:</i><br />
							Pedagogical sciences (13.00.00)<br />
							Theory and technique of physical training, sports training, improving and adaptive physical training<br />
						</p>
						
						<p>	
							<i>Editor-in-chief:</i><br /> 
							Egorov Vladimir Nikolaevich, candidate of pedagogical sciences, docent, director of the Institute of Physical Culture, Sports and Tourism, TSU, <br /> 
							ph. (4872) 35-22-25; e-mail: <a href="mailto:EgorovW@mail.ru">EgorovW@mail.ru</a>
						</p>

						<p>
							<i>Senior editor:</i><br />
							Grjazeva Elena Dmitrievna, candidate of technical sciences, docent, head of department, TSU,  <br />
							ph. (4872) 35-54-79; e-mail: <a href="mailto:Ed.gryazeve@gmail.com">Ed.gryazeve@gmail.com</a><br />
						</p>	
							
							
						<p><i>Responsible secretary:</i><br />
							Suhanova M.G., candidate of pedagogical sciences, docent, TSU
						</p>

						<p>
							<i>Associate editors:</i><br /> 
							Arhipova S.A., candidate of pedagogical sciences, docent, TSU; 
							Venjovceva Ju.L., doctor of medicine sciences, professor, head of department, TSU; 
							Germanov G.N., doctor of pedagogical sciences, professor, head of department, Moscow City Pedagogical University; 
							Ermakov V.A., doctor of pedagogical sciences, professor, TSU; 
							Skripko A.D., doctor of pedagogical sciences, professor, head of department, Poznan Academy of Physical Education (Poland); 
							Stula A., doctor sciences, professor, director, Institute of Higher Polish Academy of tourism and recreation; 
							Chesnokov N.N., doctor of pedagogical sciences, professor, head of department, Russian State Academy of Physical Culture
						</p>


						<p><b>
							Rules for writing the manuscript: <a href="#bottom" onClick="download_pdf('pravila_oformlenija_2015')">(download)</a><br>
							Example of the basic elements of the article: <a href="#bottom" onClick="download_pdf('primer_oformlenija_2015')">(download)</a>
						</b></p>
						
						<div id="jurnal"></div>
						<script> jurnal();  </script>				
					</td>
				</tr>

				<tr>
					<td></td>
					<td>
						<div id="drop31" class="hide"></div>
						<div id="bottom"></div>
					</td>
				</tr>
			</table>
		</td>


<?php endif; ?>


<?php if ($_GET['lang'] == 'ru') : ?>	
		
		<!-- РУССКОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->
		
		<script>var lang='ru';</script>
		<script src="public/js/sport_grey.js"></script>

		<td width="100%" style="padding:30px ">
			<table class="correct" id="oblojka_left">
				<tr>
					<td><img src="public/img/oblojka/physical_education_sport_2015.jpg" alt="" align="left" class="wrappler" id="oblojka" /></td>

					<td>
						<h2 class="pad0 center">Известия Тульского государственного университета. <br>Физическая культура. Спорт. ISSN 2305-8404 </h2>
						<br />
						<p>
							Подписной индекс: 11912 (Объединенный Каталог «Пресса России»).<br />
							Свидетельство о регистрации средства массовой информации: ПИ № ФС77-61105 от 19 марта 2015.<br />
							Год основания издания:  2013 г.<br />
							Периодичность: 4 выпуска в год.
						</p>
						
						<p>	
							<i>	Отрасли наук: 	</i><br />
							Социально-экономические и общественные науки
						</p>
						
						<p>	
							<i>	Группы научных специальностей: 	</i><br />
							Педагогические науки (13.00.00)<br />
							Теория и методика физического воспитания, спортивной тренировки, оздоровительной и адаптивной физической культуры<br />
						</p>
						
						<p>	
							<i>Ответственный редактор:</i><br /> 
							Егоров Владимир Николаевич, канд. пед. наук, доц., директор института физической культуры, спорта и туризма, ТулГУ, <br /> 
							тел. (4872) 35-22-25; e-mail: <a href="mailto:EgorovW@mail.ru">EgorovW@mail.ru</a>
						</p>

						<p>
							<i>Заместитель ответственного редактора:</i><br />
							Грязева Елена Дмитриевна, канд. техн. наук, доц., зав. кафедрой, ТулГУ,  <br />
							тел. (4872) 35-54-79; e-mail: <a href="mailto:Ed.gryazeve@gmail.com">Ed.gryazeve@gmail.com</a><br />
						</p>
						
						<p><i>Ответственный секретарь:</i><br />
							Суханова М.Г., канд. пед. наук, доц., ТулГУ
						</p>

						<p>
							<i>Члены редколлегии:</i><br /> 
							Архипова С.А., канд. пед. наук, доц., ТулГУ; 
							Венёвцева Ю.Л., д-р мед. наук, проф., зав. кафедрой, ТулГУ; 
							Германов Г.Н., д-р пед. наук, проф., зав. кафедрой, Московский городской педагогический университет; 
							Ермаков В.А., д-р пед. наук, проф., ТулГУ; 
							Скрипко А.Д., д-р пед. наук, проф., зав. кафедрой, Познаньская Академия физической культуры (Польша); 
							Стула А., д-р наук, проф., директор, Институт высшей Польской Академии туризма и рекреации; 
							Чесноков Н.Н., д-р пед. наук, проф., зав. кафедрой, Российская государственная академия физической культуры
						</p>


						<p><b>
							Правила оформления рукописей статей: <a href="#bottom" onClick="download_pdf('pravila_oformlenija_2015')">(скачать)</a><br>
							Пример оформления основных элементов статьи: <a href="#bottom" onClick="download_pdf('primer_oformlenija_2015')">(скачать)</a>					
						</b></p>
						
						<div id="jurnal"></div>
						<script> jurnal();  </script>				
					</td>
				</tr>

				<tr>
					<td></td>
					<td>
						<div id="drop31" class="hide"></div>
						<div id="bottom"></div>
					</td>
				</tr>
			</table>
		</td>

<?php endif; ?>