<?php if (isset($_GET['lang']) && $_GET['lang'] == 'en') : ?>


		<!-- АНГЛОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->

		<td width="100%" style="padding:30px ">	
			<table class="correct" id="oblojka_left">
				<tr>
				<td>
						<h2 class="pad0">General information</h2>		
				<p>
					"Izvestija Tulskogo gosudarstvennogo universiteta" ("Izvestija TulGU") are the versatile reviewed 
					periodic printed publicity material consisting of seven subject series which one are registered 
					at International centre ISSN in Paris, propagate in terrain of Russia on subscription of Open 
					Company "Agency "Book-Service" and are allocated in following Russian electron baselines:
				</p>
					<ul>
						<li>- the Russian index of scientific citing (RISC) Scientific electron library (SEL)  <a href=http://elibrary.ru>http://elibrary.ru</a>;</li>
						<li>- the integrated scientific informational resource of Open Company "ITEOS" <a href=http://CYBERLENINKA.RU>http://CYBERLENINKA.RU</a>; 
						<a href=http://CYBERLENINKA.NET>http://CYBERLENINKA.NET</a>; <a href=http://CYBERLENINKA.ORG>http://CYBERLENINKA.ORG</a>;</li>
						<li>- to electron library of Open Company "Publishing house "LAN" <a href=http://e.lanbook.com>http://e.lanbook.com</a>;</li>
						<li>- to electron library of Open Company "Infra M" <a href=http://znanium.ru>http://znanium.ru</a>.</li>
					</ul>
				
				<h2 class="pad0">The rules of the direction and the publication of scientific articles</h2>
				<p>
				The manuscript of the article introduced for the publication should be the concluded research 
				activity and to contain new scientific outcomes. Articles of survey, biographic, advertising nature, 
				the review of scientific monographies are written, as a rule, by request of an editorial board of an 
				appropriate subject series of issuing.
				</p>
				<p>
				The total amount of the manuscript of the article should not exceed 16 pages, including abstracts and 
				keywords in Russian and English tongues, drawings, tables, the agenda of the literature and the cramp on 
				authors in Russian and English tongues. Number of drawings - no more than 5, tables - no more than 3.
				</p>
				<p>
				The article manuscript without pay introduce in two kinds: paper, printed in one copy on one side 
				of a page of a transfer paper of format A4, and in electron - on the electron carrier.
				</p>
				<p>
				The article manuscript in electronic form except a file of the article should switch on source files 
				of the case histories executed in one of formats: for vector drawings - EPS with the implanted type letterings, 
				for raster drawings - TIFF, JPEG with resolution it is not less 300 dpi (for photographs it is recommended not 
				less than 400 dpi). Each case history should be recorded in a separate file.
				</p>
				<p>
				The article manuscript in a paper kind should be signed all authors that means their consent to drive 
				to Publishing house TulGu, in case of article adoption to the publication in an appropriate subject series 
				of periodic printed publicity material "Izvestija TulGU", the following non-exclusive rights:
				</p>
				<p>
				a) on article duplicating by any printing mode by its actuation in the alternate extension of an appropriate 
				subject series;
				</p>
				<p>
				b) on article distribution in terrain of the Russian Federation, subject to the conditions subscriptions 
				on an appropriate subject series (see item 1 "GENERAL INFORMATION");
				</p>
				<p>
				c) on disposition of the full-text version of the article in a network the Internet, by actuation in various 
				electron baselines and intelligence systems (see item 1 "GENERAL INFORMATION");
				</p>
				<p>
				d) on duplicating, distribution and disposition in a network the Internet in the capacity of essential units 
				of the article of following personal data:
				</p>
				
				<ul>
				<li>- surnames, a name, patronymics (at retention);</li>
				<li>- a scientific degree and-or an academic status;</li>
				<li>- posts;</li>
				<li>- e-mail addresses;</li>
				<li>- places of work (country, a city, the architecture title).</li>
				</ul>
				
				<p>	
				Authors of articles allocated in a series "Engineering science", are bound to introduce certificates 
				of appraisal about a capability of their open publication (first copies in a paper kind). For articles allocated 
				in other subject series, certificates of appraisal are introduced under inquiries of editorial boards.
				</p>
				<p>	
				The stuffs of the article indicated in items 2.3, 2.4, 2.6, are sent by mail to Publishing house TulGu 
				in name of the responsible secretary of a subject series (see by reference) or passed directly in an editorial 
				board of an appropriate subject series under the preliminary arrangement.
				</p>
				<p>
				The article manuscript can be in electronic form sent on an e-mail address of the responsible secretary 
				corresponding subject to a series (see by reference) under the preliminary arrangement.
				</p>
				<p>
				All introduced manuscripts of articles transit reviewing (see by reference). The solution on article 
				publication strikes root an editorial board of a subject series ground reviews.
				</p>
				<p>
				The manuscripts of articles accomplished with gross violations of approved regulations, are not considered 
				by editorial boards. In this case to the author it is routed motivated failure, and all introduced stuffs of the 
				article do not return.
				</p>
				
				<h2 class="pad0">Terms reviewing scientific articles</h2>
				
				<h2 class="pad0">1. The organization and procedure of payment review</h2>
				
				<p>
				1.1. Reviewing manuscripts of articles submitted for publication in the thematic series of the periodic publication 
				"Izvestiya of TSU," organized by the editorial board of the respective series for the purpose of peer review.
				</p>
				<p>
				1.2. Responsibility for the quality of reviews and review the timeliness of the manuscript rests with the managing 
				editor of a thematic series.
				</p>
				<p>
				1.3. All reviewers must be recognized experts on the subject of peer-reviewed material and have for the past three 
				years, publications on peer-reviewed articles. The reviewer can not be the author or co-author of the book under review.
				</p>
				<p>
				1.4. Reviewing manuscripts of articles is mandatory for teachers of Tula State University and taken into account in 
				their individual plans. Payment of reviewers who are not members of the University shall be in accordance with current 
				regulations.
				</p>
				<p>
				1.5. Editorial board thematic series presented to the authors of articles up reviews or motivated refusal.
				</p>
				<p>
				1.6. Reviews of the manuscript papers are stored on the editorial board for five years from the date of publication 
				of the articles. Copies of the articles are sent to the Russian Ministry of Education for admission to the editorial 
				board of a thematic series prompted.
				</p>
			
				<h2 class="pad0">2. Requirements for the content review</h2>
				
				<p>
				2.1. The review should include an analysis of the material qualified article, objective assessment of his reasoned 
				and reasonable recommendations.
				</p>
				<p>
				2.2. In his review, special attention should be paid to lighting the following issues:
				</p>
				<p>
				- a general analysis of the scientific level, terminology, structure of articles, the relevance of the topic;
				</p>
				<p>
				- assessment of fitness articles for publication in respect of language and style, satisfy the requirements for the 
				materials section;
				</p>
				<p>
				- scientific exposition used by the author matching methods, techniques, advice and research achievements of modern 
				science and practice;
				</p>
				<p>
				- the allowable amount of the article as a whole and its individual elements (text, tables, illustrations, bibliographic 
				references); the feasibility of space in the article tables, illustrations, and their compliance with the stated theme; 
				recommendations for reducing the amount of sound (indicate by a member of the article);
				</p>
				<p>
				- place the book under review among others, have published on this topic: What's new in it, or how it differs from them, 
				if not duplicate the work of other authors or previously printed works of the author (in whole or in part);
				</p>
				<p>
				- the author admitted inaccuracies and errors.
				</p>
				<p>
				2.3. The reviewer should make recommendations to the author and publisher to improve the manuscript. Comments and 
				suggestions should be objective and principled, aimed at improving the scientific and methodological levels of the 
				manuscript.
				</p>
				<p>
				2.4. The final part of the review should be kept informed of the conclusions of the article as a whole and a clear 
				recommendation of the expediency of its publication in the thematic series of scientific publication "Izvestiya of the 
				Tula State University" on a particular branch of science, and / or a group of scientific specialties, the relevant range 
				of specialties of scientific workers adopted by the Ministry of Education of the Russian Federation.
				</p>
				<p>
				2.5. In the case of a negative evaluation of the whole manuscript reviewer must justify their conclusions especially 
				convincing.
				</p>
				
				</td>
				</tr>
			</table>	
		</td>


<?php else: ?>
	
		
		<!-- РУССКОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->

		<!-- шаблон главной страницы -->
		<td width="100%" style="padding:30px ">

			<table class="correct" id="oblojka_left">
				<tr>
					<td>
						<h2 class="pad0">Общие сведения</h2>
						<p>
							«Известия Тульского государственного университета» («Известия ТулГУ») 
							являются многопрофильным рецензируемым периодическим печатным изданием, 
							состоящим из семи тематических серий, 
							которые зарегистрированы в Международном центре ISSN в Париже, 
							распространяются на территории России по подписке ООО «Агентство «Книга-Сервис» 
							и размещаются в следующих российских электронных базах:
						</p>
							<ul>
								<li>- Российском индексе научного цитирования (РИНЦ) Научной электронной библиотеки (НЭБ)  <a href=http://elibrary.ru>http://elibrary.ru</a>;</li>
								<li>- интегрированном научном информационном ресурсе ООО «Итеос» <a href=http://CYBERLENINKA.RU>http://CYBERLENINKA.RU</a>; 
								<a href=http://CYBERLENINKA.NET>http://CYBERLENINKA.NET</a>; <a href=http://CYBERLENINKA.ORG>http://CYBERLENINKA.ORG</a>;</li>
								<li>- электронной библиотеке ООО «Издательство ЛАНЬ» <a href=http://e.lanbook.com>http://e.lanbook.com</a>;</li>
								<li>- электронной библиотеке ООО «Инфра-М» <a href=http://znanium.ru>http://znanium.ru</a>.</li>
							</ul>
						
						<h2 class="pad0">Правила направления и опубликования научных статей</h2>
						<p>
						Представляемая для публикации рукопись статьи должна быть законченным научным исследованием 
						и содержать новые научные результаты. Статьи обзорного, биографического, рекламного характера, 
						рецензии на научные монографии пишутся, как правило, по заказу редколлегии соответствующей тематической 
						серии издания.
						</p>
						<p>
						Общий объем рукописи статьи <b>не должен превышать 16 страниц</b>, включая аннотации и ключевые слова 
						на русском и английском языках, рисунки, таблицы, список литературы и сведения об авторах на русском 
						и английском языках. Число рисунков – не более 5, таблиц – не более 3.
						</p>
						<p>
						Рукопись статьи <b>в обязательном порядке</b> представляют в двух видах: бумажном, распечатанном в 1 экз. 
						на одной стороне листа белой бумаги формата А4, и в электронном - на электронном носителе.
						</p>
						<p>
						Рукопись статьи в электронном виде кроме файла самой статьи должна включать <b>исходные файлы иллюстраций</b>, 
						выполненных в одном из форматов: для векторных рисунков – EPS с внедренными шрифтами, для растровых рисунков 
						– TIFF, JPEG с разрешением не меньше 300 dpi (для фотографий рекомендуется не менее 400 dpi). Каждая иллюстрация 
						должна быть записана в отдельном файле.
						</p>
						<p>
						Рукопись статьи в бумажном виде <b>должна быть подписана всеми авторами</b>, что означает их согласие на передачу 
						Издательству ТулГУ, в случае принятия статьи к публикации в соответствующей тематической серии периодического печатного 
						издания «Известия ТулГУ», следующих <b>неисключительных прав</b>:
						</p>
						<p>
						а) на тиражирование статьи любым типографским способом путем включения её в очередной выпуск соответствующей 
						тематической серии;
						</p>
						<p>
						б) на распространение статьи на территории Российской Федерации, в соответствии с условиями подписки на соответствующую 
						тематическую серию (см. п. 1 «Общие сведения»);
						</p>
						<p>
						в) на размещение полнотекстовой версии статьи в сети Интернет, путем включения в различные электронные базы 
						и информационные системы (см. п. 1 «Общие сведения»);
						</p>
						<p>
						г) на тиражирование, распространение и размещение в сети Интернет в качестве неотъемлемых элементов статьи следующих 
						своих персональных данных:
						</p>
						
						<ul>
						<li>- фамилии, имя, отчества (при наличии);</li>
						<li>- ученой степени и/или ученого звания;</li>
						<li>- должности;</li>
						<li>- адреса электронной почты;</li>
						<li>- места работы (страна, город, название организации).</li>
						</ul>
						
						<p>	
						Авторы статей, размещаемых в серии <b>«Технические науки», обязаны</b> представить <b>акты экспертизы</b> о возможности 
						их открытой публикации (<b>оригиналы</b> в бумажном виде). Для статей, размещаемых в других тематических сериях, 
						акты экспертизы представляются по запросам редколлегий.
						</p>
						<p>	
						Материалы статьи, указанные в п.п. 2.3, 2.4, 2.6, высылаются почтой в адрес Издательства ТулГУ 
						<b>на имя ответственного секретаря</b> тематической серии (см. по ссылке) или передаются непосредственно в редколлегию 
						соответствующей тематической серии по предварительной договоренности.
						</p>
						<p>
						Рукопись статьи в электронном виде может быть выслана на адрес электронной почты ответственного секретаря соответствующей 
						тематический серии (см. по ссылке) по предварительной договоренности.
						</p>
						<p>
						Все представленные рукописи статей проходят рецензирование (см. по ссылке). Решение об опубликовании статьи 
						принимается редколлегией тематической серии на основании рецензии.
						</p>
						<p>
						Рукописи статей, оформленные с грубыми нарушениями утвержденных правил, редколлегиями не рассматриваются. 
						В этом случае автору направляется мотивированный отказ, а все представленные материалы статьи не возвращаются.
						</p>
						
						<h2 class="pad0">Правила рецензирования научных статей</h2>
						
						<h2 class="pad0">1. Организация и порядок оплаты рецензирования</h2>
						
						<p>
						1.1. Рецензирование рукописей статей, представленных для публикации в тематических сериях периодического печатного издания 
						"Известия ТулГУ", организуется редакционными коллегиями соответствующих серий с целью их экспертной оценки.
						</p>
						<p>
						1.2. Ответственность за качество рецензий и своевременность проведения рецензирования рукописей статей возлагается на ответственного 
						редактора тематической серии.
						</p>
						<p>
						1.3. Все рецензенты должны являться признанными специалистами по тематике рецензируемых материалов и иметь в течение последних трех 
						лет публикации по тематике рецензируемой статьи. Рецензентом не может быть автор или соавтор рецензируемой работы.
						</p>
						<p>
						1.4. Рецензирование рукописей статей является обязательным для преподавателей Тульского государственного университета и учитывается 
						в их индивидуальных планах. Оплата труда рецензентов, не являющихся сотрудниками университета, производится в соответствии с действующими 
						правилами.
						</p>
						<p>
						1.5. Редакционная коллегия тематической серии направляет авторам представленных статей копии рецензий или мотивированный отказ.
						</p>
						<p>
						1.6. Рецензии на рукописи статей хранятся в редакционной коллегии в течение пяти лет со дня публикации статей. Копии статей направляются 
						в Минобрнауки РФ при поступлении в редакционную коллегию тематической серии соответствующего запроса.
						</p>
					
						<h2 class="pad0">2. Требования к содержанию рецензии</h2>
						
						<p>
						2.1. Рецензия должна содержать квалифицированный анализ материала статьи, объективную аргументированную его оценку и обоснованные 
						рекомендации.
						</p>
						<p>
						2.2. В рецензии особое внимание необходимо уделить освещению следующих вопросов:
						</p>
						<p>
						- общий анализ научного уровня, терминологии, структуры статьи, актуальности темы;
						</p>
						<p>
						- оценка подготовленности статьи к изданию в отношении языка и стиля, соответствия установленным требованиям по оформлению материалов статьи;
						</p>
						<p>
						- научность изложения, соответствие использованных автором методов, методик, рекомендаций и результатов исследований современным достижениям 
						науки и практики;
						</p>
						<p>
						- допустимость объема статьи в целом и отдельных ее элементов (текста, таблиц, иллюстративного материала, библиографических ссылок); целесообразность 
						помещения в статье таблиц, иллюстративного материала, и их соответствие излагаемой теме; рекомендации относительно рационального сокращения объема 
						(указать, за счет какого элемента статьи);
						</p>
						<p>
						- место рецензируемой работы среди других, уже напечатанных на подобную тему: что нового в ней или чем она отличается от них, не дублирует ли работы 
						других авторов или ранее напечатанные работы данного автора (как в целом, так и частично);
						</p>
						<p>
						- допущенные автором неточности и ошибки.
						</p>
						<p>
						2.3. Рецензент должен дать рекомендации автору и издательству по улучшению рукописи. Замечания и пожелания должны быть объективными 
						и принципиальными, направленными на повышение научного и методического уровней рукописи.
						</p>
						<p>
						2.4. В заключительной части рецензии должны содержаться обоснованные выводы по статье в целом и четкая рекомендация о целесообразности 
						ее издания в данной тематической серии научного издания "Известия ТулГУ" по конкретной отрасли науки и/или группе научных специальностей, 
						соответствующих Номенклатуре специальностей научных работников, утвержденной Минобрнауки РФ.
						</p>
						<p>
						2.5. В случае отрицательной оценки рукописи в целом рецензент должен обосновать свои выводы особенно убедительно.
						</p>
					</td>
				</tr>
			</table>
		</td>

<?php endif; ?>














