<?php if (isset($_GET['lang']) && $_GET['lang'] == 'en') : ?>


		<!-- АНГЛОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->

		<td width="100%" style="padding:30px ">	
			<table class="correct" id="oblojka_left">
				<tr>
					<td>
						<h2 class="pad0">The editorial board of periodicals «Izvestiya of the Tula State University»</h2>
			<br />
				<p><i>Chairman of the editorial board:</i><br>
				Gryazev M.V., doctor of technical sciences, professor, TSU, the rector
				</p>
				
				<p><i>Deputy chairman of the editorial board:</i><br>
				Kuhar V.D., doctor of technical sciences, professor, TSU, the prorector for research
				</p>
				
				<p><i>Executive secretary of the editorial board:</i><br>
				Malikov A.A., doctor of technical sciences, professor, TSU, the head of research works
				</p>
				
				<p><i>Members of the editorial board:</i><br>
				Preuss V.V. – <i>chief editor «Izvestiya TSU»</i>, doctor of technical sciences, professor, head of department, TSU;<br>
				Batanina I.A. – <i>executive editor of the series «Humanities»</i>, doctor of political sciences, professor, director of the Institute of Humanities and Social Sciences, TSU;<br>
				Boriskin O.I. – <i>executive editor of the series «Technical sciences»</i>, doctor of technical sciences, professor, director of the Polytechnic Institute, TSU;<br>
				Golovin A.Y. – <i>executive editor of the series «Economic and Legal science»</i>, doctor of laws, professor, Director of the Institute of Law and Management, TSU;<br>
				Egorov V.N. – <i>executive editor of the series «Physical Education. Sport»</i>, candidate of pedagogical sciences, docent, director of the Institute of Physical Culture, Sports and Tourism, TSU;<br>
				Ivanov V.I. – <i>executive editor of the series «Natural sciences»</i>, doctor of physical and mathematical sciences, professor, head of department, TSU;<br>
				Kachurin N.M. – <i>executive editor of the series «Sciences of Earth»</i>, doctor of technical sciences, professor, head of department, TSU;<br>
				Petrovichev V.M. – <i>executive editor of the series «Pedagogy»</i>, doctor of pedagogical sciences, professor, head of department, TSU 
				</p>
				</td>
				</tr>
			</table>	
		</td>


<?php else: ?>
	
		
		<!-- РУССКОЯЗЫЧНАЯ ВЕРСИЯ СТРАНИЦЫ -->

		<td width="100%" style="padding:30px ">	
			<table class="correct" id="oblojka_left">
				<tr>
					<td>
						<h2 class="pad0">Состав редакционного совета периодических печатных изданий 
			«Известия Тульского государственного университета»</h2>
			<br />
				<p><i>Председатель редакционного совета:</i><br>
				Грязев М.В., д-р техн. наук, проф., ТулГУ, ректор
				</p>
				
				<p><i>Заместитель председателя редакционного совета:</i><br>
				Кухарь В.Д., д-р техн. наук, проф., ТулГУ, проректор по научной работе
				</p>
				
				<p><i>Ответственный секретарь редакционного совета:</i><br>
				Маликов А.А., д-р техн. наук, проф., ТулГУ, начальник управления научно-исследовательских работ
				</p>
				
				<p><i>Члены редакционного совета:</i><br>
				Прейс В.В. – <i>главный редактор изданий «Известия ТулГУ»</i>, д-р техн. наук, проф., зав. кафедрой, ТулГУ;<br>
				Батанина И.А. – <i>отв. редактор серии «Гуманитарные науки»</i>, д-р полит. наук, проф., директор института гуманитарных и социальных наук, ТулГУ;<br>
				Борискин О.И. – <i>отв. редактор серии «Технические науки»</i>, д-р техн. наук, проф., директор политехнического института, ТулГУ;<br>
				Головин А.Ю. – <i>отв. редактор серии «Экономические и юридические науки»</i>, д-р юрид. наук, директор института права и управления, ТулГУ;<br>
				Егоров В.Н. – <i>отв. редактор серии «Физическая культура. Спорт»</i>, канд. пед. наук, доц., директор института физической культуры, спорта и туризма, ТулГУ;<br>
				Иванов В.И. – <i>отв. редактор серии «Естественные науки»</i>, д-р физ.-мат. наук, проф., зав. кафедрой, ТулГУ;<br>
				Качурин Н.М. – <i>отв. редактор серии «Науки о Земле»</i>, д-р техн. наук, проф.,  зав. кафедрой, ТулГУ;<br>
				Петровичев В.М. – <i>отв. редактор серии «Педагогика»</i>, д-р пед. наук, проф., зав. кафедрой, ТулГУ 
				</p>
				</td>
				</tr>
			</table>	
		</td>

<?php endif; ?>

